#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.height-100 {
  height: 100vh
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  width: 400px;
  border: none;
  height: 300px;
  box-shadow: 0px 5px 20px 0px #d2dae3;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

.card .blue {
  color: #100249;
  font-size: 20px
}

.card .success {
  color: green;
  font-size: 20px
}

.inputs input {
  width: 40px !important;
  height: 40px
}

.card-2 {
  background-color: #fff;
  padding: 10px;
  width: 350px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  position: absolute;
  border-radius: 5px
}

.card-2 .content {
  margin-top: 50px
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: #100249 !important;
  border: 1px solid #100249 !important;
  width: 140px
}

body {
  background: #eddede;
}

.invalid {
  border: 1px solid red !important;
}